@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: MU;
  src: url('./assets/fonts/manchester.otf');
}

@import 'tailwindcss';

@theme {
  --font-mu: MU, 'sans-serif';
  --font-montserrat: 'Montserrat', sans-serif;
}
/* Prevent horizontal scroll */
html,
body {
  overflow-x: hidden;
}

/* Mobile bottom sheet animation */
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
